<h2><%= @company.name %></h2>
<hr>
<p><strong>Mail:</strong> <%= @company.mail %></p>
<p><strong>Phone:</strong> <%= @company.phone %></p>
<p><strong>Localização:</strong> <%= @company.location %></p>
